.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-size: var(--global-text-font-subTitle);
}

.header button {
    background-color: var(--global-title-color-second);
    padding: 1px;
    border-radius: 10px;
    width: 100px;
    transition: all 0.3s;
    height: 30px;
}

.header button:hover {
    cursor: pointer;
    scale: 1.03;
}