.container {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
animation-delay: 0.5s;
    align-items: center;
}

.header h2 {
    font-size: 40px;
    text-align: center;

    color: var(--global-title-color-second);
}

.header p {
    text-align: center;
    width: 100%;
}

.imageBrain {
    width: 600px;
    height: auto;
}

.header button {
    background-color: var(--global-title-color-second);
    padding: 1px;
    border-radius: 10px;
    width: 180px;
    transition: all 0.3s;
    height: 30px;
    font-size: 18px;
    color: var(--white);
}

.header button:hover {
    cursor: pointer;
    scale: 1.03;
}

@media(max-width:768px) {
    .imageBrain {
        width: 90vw !important;
        height: auto;
    }
}